<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <!--<add name="mayurConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\admin\Documents\mayur.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="DataConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\admin\Documents\Data.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="simpleConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\admin\Documents\simple.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="DatabaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\PROJECT WORK\final work(OPO)\App_Data\Database.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database123.mdf;Integrated Security=True;User Instance=True Integrated Security = True; Connect Timeout = 30"
   providerName="System.Data.SqlClient" />-->
   <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database123.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>
